* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 16px;
}

:root {
  --blue: #1a1a25;
  --pink: #ca3b7e;
  --white: #fff;
  --yellow: #eeb704;
}

body {
  background-color: var(--blue);
  font-family: 'Staatliches', cursive;
  min-height: 100%;
  position: relative;
}

header {
  background-color: var(--pink);
  height: 80px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header > h1 {
  text-align: center;
  color: white;
  font-size: 2.3rem;
}

.score-board {
  border: 3px solid #ffffff;
  border-radius: 10px;
  margin: 20px auto;
  width: 14rem;
  height: 6rem;
  color: #ffce2f;
  position: relative;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge {
  background-color: #1abc9c;
  padding: 2px;
  font-size: 1rem;
  padding: 2px 5px;
  border-radius: 15%;
  text-transform: uppercase;
  color: var(--blue);
}

#user-label {
  position: absolute;
  top: 33px;
  left: -25px;
}
#cpu-label {
  position: absolute;
  top: 33px;
  right: -20px;
}

#cpu-move {
  color: #e94870;
  text-shadow: 3px 3px 0px #440523;
}

#moves {
  font-size: 9vw;
  text-align: center;
  font-weight: bold;
  color: var(--yellow);
}

.choices {
  text-align: center;
  margin: 10px 0px;
}

img:hover {
  cursor: pointer;
}

.selected {
  background: rgb(45, 45, 68);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.664) 30%, rgba(102, 102, 221, 0) 70%, rgba(219, 127, 127, 0) 100%);
}

.choice {
  display: inline-block;
  padding: 10px 5px;
}

#action-message {
  text-align: center;
  color: #1abc9c;
  font-size: 3rem;
  font-weight: bold;
  margin: 35px 0 20px 0;
}

.score {
  display: inline-block;
  text-transform: uppercase;
}

.animated-text {
  opacity: 0;
  animation-name: appear;
  animation-duration: 0.7s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

img {
  max-width: 27vw;
  max-height: 20vh;
}

.message {
  font-size: 12vw;
}

footer {
  position: absolute; /* posizionamento fisso in basso alla pagina */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #1abc9c;
  z-index: 9999;
}
@media screen and (min-width: 768px) {
  #moves {
    font-size: 4em;
  }
  .message {
    font-size: 2.5em;
  }
  img {
    margin: 0 20px;
  }
  header > h1 {
    font-size: 3rem;
  }
}
